# Spring Boot app port
APP_PORT=8080
# The images service port
NGINX_PORT=8081
# The MySQL database port (only in development)
MYSQL_PORT=33061

# Set to "prod" for production mode
SPRING_PROFILES_ACTIVE=

# The URLs where the frontend will be allocated
CORS_ALLOWED_ORIGINS=http://localhost:4173,http://localhost:5173

# The MySQL database name
MYSQL_DATABASE=pocopi
# The MySQL database password
MYSQL_ROOT_PASSWORD=....

# The MySQL database URL
SPRING_DATASOURCE_URL=jdbc:mysql://db:3306/pocopi

# The URL where the images service will be allocated
IMAGES_BASE_URL=http://localhost:8081

# Cryptographically secure token to sign JTWs
JWT_SECRET=secret_token_that_is_at_least_32_characters_long
# The duration of the JTWs in milliseconds
JWT_EXPIRATION=21600000

# Path of the old config, if you're migrating from the old infrastructure
OLD_CONFIG_PATH=../PoCoPI/config
